# School

Let's start with a **Warm-Up** challenge and a quick `SELECT` statement.

## Data
We will work with the `school.sqlite` database available at this URL:
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite`

Run the cell below to download the file:

In [ ]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite > data/school.sqlite

## Database Discovery

You can use the VS Code SQLite extension to explore the database (once you downloaded the database):

- Hit `Ctrl-Shift-P` or `Cmd-Shift-P`
- Start typing until you see `SQLite: Open Database`
- `Enter`
- Select the database file from the dropdown
- In the bottom left corner, click on `SQLITE EXPLORER`

Answer the following questions:

- How many tables do you have?
- For each table, what are the columns?

Once you are comfortable with the schema, let's write a SQL Query

## Setup

Pandas and sqlite3 is all we need :-)

In [ ]:
import pandas as pd
from sqlite3 import connect

## Paris Students

ðŸ‘‰ Write a SQL Query to select all students from `Paris`.

In [ ]:
# Return all students from Paris
query_students = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn
    )
df.head()

## Dynamic queries

Cool, we got our Paris students.

But wouldn't it be nice if this query was **dynamic** (i.e. work with any city)?

ðŸ‘‰ Rewrite the query, so we can use it for any city. Check the code below how we are going to use it when we load our DataFrame.

In [ ]:
# Return all students from a city
query_students = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
city = 'London'

with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn,
        params=[city]  # This is where we pass the parameter, the city
    )
df.head()

When the result looks like expected, run the following cell to test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'school',
    query=query_students
)
result.write(); print(result.check())

## Key learning points

- Use Pandas to query a database
- Use parameter substitution to write dynamic queries